<h1>INSTRUMENTOS MUSICALES (FIREBASE)</h1>
<ng-container *ngIf="cargandoTabla else elseTemplate">
  <div class="spinner">
    <h2>... CARGANDO Tabla de Instrumentos Musicales ...</h2>
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-template #elseTemplate>
        <table mat-table [dataSource]="instrumentosDataSource" class="mat-elevation-z8">

          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id Documento:</th>
            <td mat-cell *matCellDef="let instrumento">
              {{instrumento.id}}
            </td>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let instrumento">
              {{instrumento.nombre}}
            </td>
          </ng-container>

          <!-- Clasificación Column -->
          <ng-container matColumnDef="clasificacion">
            <th mat-header-cell *matHeaderCellDef>Clasificación</th>
            <td mat-cell *matCellDef="let instrumento"> {{instrumento.clasificacion}} </td>
          </ng-container>


          <!-- Origen Column -->
          <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef>Origen</th>
            <td mat-cell *matCellDef="let instrumento">
              {{instrumento.origen}}
            </td>
          </ng-container>

          <!-- Edit-Trash-Detalle Column -->
          <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef>Detalle (REDUX)</th>
            <td mat-cell *matCellDef="let instrumento">
              <button mat-button (click)="irADetalleInstrumento(instrumento)" [routerLink]="['/instrumento']">
                <mat-icon>pageview</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
</ng-template>
