.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: left;

}

.mat-card-title {
  display: block;
  padding-bottom: 8px;
  text-align: left;
}
.mat-form-field {
  display: block;
  width: 100%;
  padding-bottom: 8px;
  text-align: left;
}

.mat-card-subtitle {
  display: block;
  text-align: left;
}

.thebutton {
  margin-right: 20px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: blue;
  font-weight: bold;
}

