<p>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>public</mat-icon> Bootcamp - Angular Avanzado Project : Ricardo Noguera</span>
    <div class="navbar"></div>

    <a mat-button routerLink="home" routerLinkActive="mat-accent">Home</a>
    <a mat-button routerLink="instrumentos" routerLinkActive="mat-accent">Instrumentos</a>
    <a mat-button routerLink="instrumento" routerLinkActive="mat-accent">Instrumento</a>

    <!-- <a mat-raised-button color="accent" routerLink="register">Registro</a> -->

    <a mat-raised-button color="accent"  routerLink="login">Login</a>

    <a mat-raised-button color="accent"  routerLink="login" >Logout</a>


      <!-- <a mat-raised-button color="accent"  *ngIf="!isLogged()" routerLink="login">Login</a>

    <a mat-raised-button color="accent" *ngIf="isLogged()" routerLink="login" (click)="logout()">Logout</a> -->

  </mat-toolbar>
</p>
